{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
{% load static %}
<div class="card">
  <!-- {% csrf_token %} -->
  <h1 class="heading">
    <img
      class="input-icon"
      src="{% static 'assets/icons/heading-login.png' %}"
      alt="Login Icon"
      width="40"
    />Log In
  </h1>
  <form method="post" novalidate class="form-input from-login">
    {% csrf_token %}
    <div class="material-input">
      <img class="input-icon" src="{% static 'assets/icons/user.svg' %}" alt="Login Icon" width="33" />
        {{ form.username }}
        {{ form.username.label_tag }} 
      </div>
      <span class="text-danger">{{ form.username.errors }}</span>

    <div class="material-input">
      <img class="input-icon" src="{% static 'assets/icons/key.svg' %}" alt="Login Icon" width="33" />
        {{ form.password }}
        {{ form.password.label_tag }}
      </div>
      <span class="text-danger">{{ form.password.errors }}</span>

    <span class="auth-footer"
      >Don’t have an account? <a href="/register" class="auth-anchor"
        >Register here</a
      ></span
    >

    <button class="smt-btn">
      <img src="{% static 'assets/icons/login.svg' %}" alt="Login Icon" width="40" />Login
    </button>
    </form>  
  </div>
  {% endblock %}