
{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
{% load static %}
<div class="card">
  <!-- {% csrf_token %} -->
  <h1 class="heading">
    <img
      class="input-icon"
      src="{% static 'assets/icons/heading_add_account.svg' %}"
      alt="Login Icon"
      width="40"
    />Register
  </h1>
  <form method="post" novalidate class="form-input">
    {% csrf_token %}
    {% for field in form %}
    <div class="material-input form-register">
      <img class="input-icon" src="{% static 'assets/icons/' %}{{ field.name }}.svg" alt="Icon" width="33" />
      {{ field }}
      {{ field.label_tag }}
    </div>
    {% if field.errors %}
      <span class="text-danger mt-10">{{ form.username.errors }}</span>
      {% endif %}
      {% endfor %}

    <span class="auth-footer"
      >Already have an account? <a href="/login" class="auth-anchor"
        >Login here</a
      ></span
    >

    <button class="smt-btn">
      <img src="{% static 'assets/icons/add_account.svg' %}" alt="Login Icon" width="40" />Create Account
    </button>
    </form>  
  </div>
  {% endblock %}